@model BDInSelfLove.Web.ViewComponents.Models.Video.AllHomeVideoViewModel
@using BDInSelfLove.Common

@{
    ViewData["Title"] = "All Videos";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<section id="videoGallery" class="py-4">
    <div class="container">
        @foreach (var video in Model.Videos)
        {
            <div class="row mb-4">
                <div class="col">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="@video.Url"></iframe>
                    </div>

                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div class="row mt-2">
                            <div class="col"><a asp-area="Administration" asp-controller="Video" asp-action="Delete" asp-route-id="@video.Id" class="btn btn-block btn-outline-danger">Delete</a></div>
                        </div>
                    }

                    <partial name="_CommentsPartial" />
                </div>
            </div>
        }
    </div>
</section>