<section id="shop">

</section>

@section Links {
    <link href="~/SPA/styles/styles.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/handlebars/dist/handlebars.js"></script>
    <script src="~/lib/sammy/lib/sammy.js"></script>
    <script src="~/lib/sammy/lib/plugins/sammy.handlebars.js"></script>

    <script src="~/SPA/helpers/requester.js"></script>
    <script src="~/SPA/helpers/helper.js"></script>

    <script src="~/SPA/controllers/homeController.js"></script>
    <script src="~/SPA/controllers/userController.js"></script>
    <script src="~/SPA/controllers/offerController.js"></script>

    <script src="~/SPA/scripts/app.js"></script>
} 