@model BDInSelfLove.Web.InputModels.Forum.Comment.CommentCreateInputModel

<form class="mb-3" asp-controller="Comment" asp-action="Create">
    <input type="hidden" asp-for="@Model.ParentPostId" value="@Model.ParentPostId" />
    <input type="hidden" asp-for="@Model.ParentCommentId" value="" />
    <div class="form-group">
        <h5 id="AddCommentText" for="comment">Add New Comment</h5>
        <textarea asp-for="@Model.Content" id="mytextarea" class="form-control" rows="10" placeholder="Write your comment here."></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-block w-50 mx-auto">Reply</button>
</form>