@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Forum";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<div class="container my-3">
    <breadcrumb></breadcrumb>
    <form asp-controller="Home" asp-action="Search" method="get">
        <div class="input-group mb-3">
            <input class="form-control" id="term" name="term" placeholder="Search..." type="text" value="">
            <input class="form-control" id="target" name="target" placeholder="Search..." type="text" hidden value="posts">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section HeadScripts {
    @RenderSection("HeadScripts", required: false)
}
