@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
}

    <div class="container my-3">
        <breadcrumb></breadcrumb>

        <form asp-controller="Home" asp-action="Search" method="get">
            <div class="input-group mb-3">
                <input class="form-control" id="term" name="term" placeholder="Search for..." type="text" value="">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        @RenderBody()
    </div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section HeadScripts {
    @RenderSection("HeadScripts", required: false)
}
