@model InSelfLove.Web.ViewComponents.Models.Sidebar.SuggestedViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    // Determine current location and what to display based on it
    // If we're on single article page, we suggest articles in sidebar
    bool isSingleArticlePage = Model.Articles.Count != 0;
    int publcationsCount = isSingleArticlePage ? Model.Articles.Count : Model.Videos.Count;
    string elementTitle = isSingleArticlePage ? localizer["MORE ARTICLES"].Value : localizer["MORE VIDEOS"].Value;
}

<div id="sidebar" class="col-lg-3 mt-4">
    <h2 class="mb-3 subtitle">@localizer[elementTitle]</h2>
    @for (int i = 0; i < publcationsCount; i++)
    {
        <div class="row mb-4">
            <div class="col pr-3 sidebar-col">
                @if (isSingleArticlePage)
                {
                    <partial name="_ArticlePreviewPartial" model="@Model.Articles[i]" />
                }
                else
                {
                    <partial name="_VideoPreviewPartial" model="@Model.Videos[i]" />
                }
            </div>
        </div>
    }
</div>
