/*Showcase fix for iOS - fixed background unsupported */
@supports (-webkit-touch-callout: none) {
    html, body {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 500px) {

    html, body {
        background-attachment: scroll !important;
    }
}

main {
    background: rgba(45,70,67, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html, body {
    position: relative;
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/fl_progressive/v1620506959/aididie6_ke76hz.jpg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}

footer {
    background: rgba(45,70,67, 0.75);
    top: 0;
    left: 0;
}

    footer p {
        color: white;
    }

/* Fixes bug with slot titles when upgraded to v6.0*/
.fc-sticky {
    position: absolute !important;
}


div.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
    touch-action: manipulation !important;
    
}

/*SLIDER*/
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

    .toggle-switch:before, .toggle-switch:after {
        content: "";
    }

    .toggle-switch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
    }

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #92ab9b;
}

    .toggle-checkbox:checked + .toggle-switch:before {
        left: 30px;
    }

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
/*END OF SLIDER*/
