@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PTSansCaption-Regular.ttf') format('truetype');
    font-display: swap;
}

/*Showcase fix for iOS - fixed background unsupported */
@supports (-webkit-touch-callout: none) {
    #slimShowcase, #showcase {
        background-attachment: scroll !important;
    }
}

/*Lower article font size for smaller screens*/
@media screen and (max-width: 500px) {
    #single-article .card-body p {
        font-size: 16px !important;
    }

    #single-article .card-title {
        font-size: 17px !important;
    }

    .article-date {
        font-size: 12px !important;
    }

    #about p {
        font-size: 13px !important;
    }

    #about .profile-image-wrapper {
        padding-right: 17px !important;
        padding-bottom: 0px !important;
    }

    #about .row {
        margin-left: 0vmin !important;
        margin-right: 0vmin !important;
    }

    .calendar-container {
        padding-top: 8px !important;
    }

    .fc-header-toolbar {
        margin-bottom: 5px !important;
    }
}

@media screen and (max-width: 1366px) {
    .navbar .contact {
        margin-left: 12vmax !important;
    }
}

@media screen and (max-width: 1150px) {

    .navbar-brand {
        margin-left: 3vw !important;
        padding-left: 0px !important;
    }

    .navbar-brand {
        margin-right: 5vw !important;
        margin-left: 2vw !important;
    }
}

@media screen and (max-width: 950px) {

    .navbar-brand {
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .navbar .container {
        margin-left: 0px !important;
    }


    .navbar .contact {
        margin-left: 3vmax !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar .contact {
        margin-top: 8px !important;
        margin-left: 0px !important;
        width: 104px !important;
    }

        .navbar .contact .nav-link {
            padding-left: 8px !important;
            padding-right: 8px !important;
            background-color: rgb(146,171,149);
            color: white;
            border-radius: 5px;
        }
}

@font-face {
    font-display: optional;
}

body {
    margin-top: 55px !important;
    background-color: rgb(239,239,239) !important;
}

html, body {
    font-family: 'PT Sans Caption', sans-serif;
}

#single-article .card-title {
    font-weight: 900;
    font-size: 32px;
}

#single-article span {
    font-size: 15px;
}

#single-article .card-img-top {
    object-fit: contain;
    max-height: 909px;
}

#single-article .card-body p {
    font-size: 18px;
    text-align: justify;
}

.navbar {
    box-shadow: 2px 2px 5px #92ab9b;
    opacity: 0.9;
    background: #fff;
}

.navbar-brand {
    margin-right: 20vw;
    margin-left: 1vw;
}

    .navbar-brand img {
        width: 20px;
        height: 20px;
    }

.navbar h3 {
    font-size: 1.25rem;
}

.navbar .container {
    margin-left: 2.5vmax;
    margin-right: 2.5vmax;
}

.navbar .contact {
    margin-left: 22vmax;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0);
    padding-right: 28px;
}

.navbar .contact .nav-link {
    padding-right: 8px !important;
    background-color: rgb(146,171,149);
    color: white;
    border-radius: 5px;
}

    .navbar .contact .nav-link:hover {
        color: black;
    }

.nav-item.dropdown {
    margin-bottom: 7px;
}

#navbarCollapse .nav-link {
    white-space: nowrap;
}

#showcase {
    position: relative;
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/v1620506959/aididie6_ke76hz.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

    #showcase .showcase-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vh;
    }

.showcase-wrapper h1 {
    font-size: 2.5vmin;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
}

.showcase-wrapper h2 {
    font-size: 7.8vmin;
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
}

.see-more-feature-btn:hover {
    color: rgb(45,70,67) !important;
}

#slimShowcase {
    position: relative;
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/v1620505605/found10_elbacf.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

    #slimShowcase .slimShowcase-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #slimShowcase h1 {
        color: white;
    }

.dark-overlay {
    background: rgba(45,70,67, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#info-header {
    width: 50%;
    margin: auto;
}

.subtitle {
    font-size: 16px;
    letter-spacing: 2px;
}

.btn-to-singleArticle {
    background-color: rgb(146,171,149);
    padding-right: 22px;
    padding-bottom: 7px;
    padding-top: 7px;
}

#video-carousel .carousel-control-prev {
    height: 30%;
}

#video-carousel .carousel-control-next {
    height: 30%;
}

#video-carousel .carousel-control-next-icon,
#video-carousel .carousel-control-prev-icon {
    filter: invert(1);
    width: 25px;
    height: 25px;
}

.edit-comment, .comment-box {
    display: none;
}

.firstSub-comment, .secondSub-comment {
    display: none;
    width: 90%;
}

.hide-subcomments-btn {
    display: none;
}

#main-footer {
    color: rgb(146,171,149);
}

.title-text {
    font-size: 7.5vmin;
    color: black;
}

#explore-videos-section h1 {
    font-size: 7vmin;
    white-space: nowrap;
}

#explore-head-section h1 {
    font-size: 7vmin;
    white-space: nowrap;
}


#videoGallery .card-header {
    cursor: pointer;
}

.lang-flag {
    cursor: pointer;
    width: 32px;
    height: 16px;
}

#mapid {
    height: 500px;
}

#loginPage a {
    color: black !important;
    text-decoration: none !important;
}

#loginPage .checkbox {
    filter: grayscale(1);
    white-space: nowrap;
}

#cookieConsent a {
    color: #2d4643 !important;
}

.socialMedia a {
    padding: 0px !important;
    margin: 0px;
    position: relative;
}

.fa-facebook-f {
    color: #3b5998 !important;
    font-size: 1.2rem !important;
}

.fa-instagram {
    color: #cd486b !important;
    font-size: 1.5rem !important;
    position: absolute;
    margin-top: -19px;
}

#manageNav li a {
    color: #92ab95;
    text-decoration: none;
    background-color: transparent;
}

    #manageNav li a.active {
        background-color: #e9ecef;
    }

.white-btn {
    color: black;
    border-color: rgb(146,171,149);
    white-space: nowrap;
}

.white-btn:hover {
    background-color: rgb(146,171,149);
}


a .card img {
    height: 200px;
    max-height: 100%;
    width: auto;
}

.dailyTimeSlot {
    cursor: pointer;
}

.fc-event {
    margin-top: 3px;
    margin-bottom: 3px;
}


.active .page-link {
    background-color: rgb(146,171,149) !important;
    border-color: rgb(146,171,149) !important;
}

.page-link {
    color: grey;
}

.search {
    cursor: pointer;
}

.fc-today-button, .fc-agendaWeek-button {
    display: none;
}

.fc-today {
    background: #efefef !important;
}

.fc-prev-button, .fc-next-button {
    width: 13.4vw;
}

.fc-left .fc-prev-button, .fc-right .fc-next-button {
    background-color: rgb(146,171,149);
    color: white;
    background-image: none;
}

    .fc-left .fc-prev-button:hover, .fc-right .fc-next-button:hover {
        color: black;
    }

.calendar-container {
    background-color: white !important;
}

.fc-center h2 {
    font-size: 1.6em;
}

#calendar {
    background-color: white;
}

.email-contact h3 {
    font-size: 24px;
}

#about .text {
    background-color: white;
}

#about .profile-image {
    max-width: 40vmin;
    margin-top: -10vmin;
    margin-left: -10vmin;
}

#about p {
    font-size: 22px;
    text-align: justify;
}

#about .row {
    margin-top: 7vmin !important;
}

.bottomRight {
    width: 100%;
    border-radius: 0.25rem !important;
}

#about .content-wrapper {
    padding-bottom: 0px !important;
}

.search-btn {
    color: white;
    background-color: rgb(146,171,149);
}

.edit-btn, .delete-btn {
    filter: invert(74%) sepia(9%) saturate(584%) hue-rotate(76deg) brightness(88%) contrast(87%);
    width: 18px;
    height: 16.8px;
}

.delete-btn {
    width: 14px;
}

.search-login-btn {
    width: 16px;
    height: 16.8px;
}

.facebook-icon {
    width: 9.9px;
    height: 19.2px;
    filter: invert(36%) sepia(95%) saturate(1228%) hue-rotate(185deg) brightness(99%) contrast(92%);
    margin-bottom: -3px;
    margin-right: 3px;
}

.google-icon {
    width: 15.25px;
    height: 16.8px;
    filter: invert(27%) sepia(98%) saturate(1664%) hue-rotate(348deg) brightness(104%) contrast(78%);
    margin-bottom: -1px;
    margin-right: 3px;
}

.instagram-icon {
    filter: invert(37%) sepia(17%) saturate(2911%) hue-rotate(299deg) brightness(98%) contrast(88%);
    width: 21px;
    height: 24.8px;
    margin-bottom: -4px;
}

.right-arrow-icon {
    width: 10px !important;
    height: 16.8px !important;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(24deg) brightness(106%) contrast(101%);
}

.edit-btn:hover, .delete-btn:hover {
    cursor: pointer;
}

#single-article-container {
    padding-left: 4vw;
    padding-right: 4vw;
}

#single-video-container {
    padding-left: 4vw;
    padding-right: 4vw;
}

#side-videos h1 {
    font-size: 20px;
}

/*Article Preview*/
.article-preview a {
    color: inherit;
    text-decoration: none;
}

.article-preview .card-footer {
    background-color: rgb(248,249,250) !important;
}

.article-preview .card:hover {
    opacity: 0.6;
}

.article-preview .card-title {
    font-size: 20px;
    font-weight: 600;
}

.article-preview .card-text {
    font-size: 14px;
    min-height: 150px;
}

.article-preview .card-img-top {
    min-width: 100%;
    object-fit: cover;
}

.video-preview {
    background-color: rgb(248,249,250);
}

    .video-preview h1 {
        font-weight: 600;
        font-size: 20px;
    }

    .video-preview:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .video-preview a {
        color: inherit;
        text-decoration: none;
    }

        .video-preview a:hover {
            text-decoration: none;
            color: inherit;
        }

/*FullCalendar*/
.green-btn {
    background-color: rgb(146,171,149);
    color: white;
    border-radius: 5px;
}

    .green-btn:hover {
        color: black;
    }

#bookAppointmentModal label {
    font-size: 18px;
    font-weight: 900;
}

#bookAppointmentModal #patientIssueDescription {
    font-size: 15px;
}

.calendar-container .modal-title {
    font-size: 18px;
    font-weight: 900;
}

#appointmentDetailsModal #btnDelete {
    white-space: nowrap;
}

#contact #submit-btn span {
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
}

/*Calendar set working hours*/
::-webkit-datetime-edit {
    display: none;
}

::-webkit-calendar-picker-indicator {
    padding-right: 10px;
}

.video-title {
    position: absolute;
    top: 16px;
    left: 20px;
    color: white;
    font-size: 18px;
}

#login-icon {
    padding-top: 2px;
    height: 16.8px;
    width: 14px;
}

.flower-icon {
    margin-bottom: 3px;
}
