@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PTSansCaption-Regular.ttf') format('truetype');
}

/*Showcase fix for iOS - fixed background unsupported */
@supports (-webkit-touch-callout: none) {
    #slimShowcase, #showcase {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 500px) {
    #single-article .card-body p {
        font-size: 16px !important;
    }

    #single-article .card-title {
        font-size: 17px !important;
    }

    .article-date {
        font-size: 12px !important;
    }

    #about p {
        font-size: 13px !important;
    }

    #about .profile-image-wrapper {
        padding-right: 17px !important;
        padding-bottom: 0px !important;
    }

    #about .row {
        margin-left: 0vmin !important;
        margin-right: 0vmin !important;
    }

    .calendar-container {
        padding-top: 8px !important;
    }

    .fc-header-toolbar {
        margin-bottom: 5px !important;
    }
}

@media screen and (max-width: 1367px) {
    .navbar .contact {
        margin-left: 8vmax !important;
    }
}

@media screen and (max-width: 1150px) {

    .navbar-brand {
        margin-right: 5vw !important;
        margin-left: 2vw !important;
        padding-left: 0px !important;
    }

    .showcase-wrapper h2 {
        font-size: 5vmin !important;
        font-weight: 700 !important;
    }
}

@media screen and (max-width: 950px) {
    #about p {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    #about .office-pic-col {
        margin-top: 7vmin;
    }

    .profile-pic {
        margin-top: -110px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
        border: 0px !important;
        width: 75% !important;
    }

    #about-home {
        display: flex;
        flex-flow: column;
    }

    .profile-anchor {
        padding: 0 !important;
    }

    .navbar-brand {
        margin-right: 12px !important;
    }

    .navbar {
        padding-left: 0px !important;
    }

    .navbar .container {
        padding-left: 5px !important;
    }

        .navbar .contact {
            margin-left: 0px !important;
        }

    #sidebar {
        padding-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    #slimShowcase, #showcase {
        background-attachment: scroll !important;
    }

    .alert .green-btn {
        padding: 5px !important;
    }
}

@media screen and (max-width: 600px) {
    /*gypsy fix*/
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 220px) {
    /*reverse-gypsy fix*/
    html {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}

@font-face {
    font-display: optional;
}

body {
    margin-top: 55px !important;
    background-color: rgb(239,239,239) !important;
}

html, body {
    font-family: 'PT Sans Caption', sans-serif;
}

#single-article .card-title {
    font-weight: 900;
    font-size: 32px;
}

#single-article span {
    font-size: 15px;
}

#single-article .card-img-top {
    object-fit: contain;
    max-height: 909px;
}

#single-article .card-body p {
    font-size: 18px;
}

form .form-group {
    margin-bottom: 1rem;
}

.navbar {
    box-shadow: 2px 2px 5px #92ab9b;
    opacity: 0.9;
    background: #fff;
}

.navbar-brand {
    margin-right: 19vw;
    margin-left: 1vw;
}

.navbar-brand img {
    width: 20px;
    height: 20px;
}

.navbar h3 {
    font-size: 1.25rem;
}

.navbar .container {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.navbar .navbar-nav .nav-link {
    color: rgba(0, 0, 0);
    padding-right: 28px;
}

.navbar .contact {
    margin-left: 22vw;
    display: inline-block;
}

.navbar .contact .nav-link {
    background-color: rgb(146,171,149);
    color: white;
    border-radius: 5px;
    /*gypsy fix(padding-right addded to all nav-link elements already, forcing btn to have too much padding)*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar .contact .nav-link:hover {
    color: black;
}

.nav-item.dropdown {
    margin-bottom: 7px;
    margin-right: 36px;
}

#navbarCollapse .nav-link {
    white-space: nowrap;
}

#showcase {
    position: relative;
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/v1620506959/aididie6_ke76hz.jpg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#showcase .showcase-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.showcase-wrapper h1 {
    font-size: 2.5vmin;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
}

.showcase-wrapper h2 {
    font-size: 7.8vmin;
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
}

.see-more-feature-btn:hover {
    color: rgb(45,70,67) !important;
}

#slimShowcase {
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/v1620506959/aididie6_ke76hz.jpg");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#slimShowcase .slimShowcase-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

#slimShowcase h1 {
    color: white;
}

.dark-overlay {
    background: rgba(45,70,67, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-header {
    width: 50%;
    margin: auto;
}

.subtitle {
    font-size: 16px;
    letter-spacing: 2px;
}

.btn-to-singleArticle {
    background-color: rgb(146,171,149);
    padding-right: 22px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-right: 1px;
}

.btn-to-singleVideo {
    background-color: rgb(146,171,149);
    padding-right: 22px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: -34px;
    margin-right: 1px;
}

#video-carousel .carousel-control-prev,
#video-carousel .carousel-control-next {
    height: 50%;
    opacity: 1.0;
}

#video-carousel .carousel-control-next-icon,
#video-carousel .carousel-control-prev-icon {
    opacity: 1.0;
    width: 60px;
    height: 60px;
}

lite-youtube {
    max-width: 100%;
}

.edit-comment, .comment-box {
    display: none;
}

.firstSub-comment, .secondSub-comment {
    display: none;
    width: 90%;
}

.hide-subcomments-btn {
    display: none;
}

#main-footer {
    color: rgb(146,171,149);
}

.title-text {
    font-size: 7.5vmin;
    color: black;
}

#explore-videos-section h1 {
    font-size: 7vmin;
    white-space: nowrap;
}

#explore-head-section h1 {
    font-size: 7vmin;
    white-space: nowrap;
}


#videoGallery .card-header {
    cursor: pointer;
}

.lang-flag {
    cursor: pointer;
    width: 32px;
    height: 16px;
}

#mapid {
    height: 500px;
}

#loginPage a {
    color: black !important;
    text-decoration: none !important;
}

#loginPage .checkbox {
    filter: grayscale(1);
    white-space: nowrap;
}

#cookieConsent {
    border-color: rgb(146,171,149);
    border: 1px solid;
    background-color: white;
    position: fixed;
    display: block;
    width: 100%;
    margin-right: 0.5rem !important;
    bottom: 0px;
    z-index: 9999;
}

.btn-close {
    font-size: 0.7rem;
    font-weight: 700;
    padding-left: 0px!important;
    padding-bottom: 0px!important;
}

.socialMedia a {
    padding: 5px !important;
    position: relative;
}
.instagram-icon {
    padding-bottom: 2px;
}

#manageNav li a {
    color: #92ab95;
    text-decoration: none;
    background-color: transparent;
}

#manageNav li a.active {
    background-color: #e9ecef;
}

.white-btn {
    color: black;
    border-color: rgb(146,171,149);
    white-space: nowrap;
}

.white-btn:hover {
    background-color: rgb(146,171,149);
}

.dailyTimeSlot {
    cursor: pointer;
}

.fc-event {
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 16px;
    background-color: white;
}

.fc-event:hover {
    cursor: pointer;
}

.fc-event-main {
    padding-top: 10px !important; 
    text-align: center;
}

.fc-event.green {
    border-color: rgb(146,171,149);
}

.fc-event.green:hover {
    background-color: rgb(146,171,149);
}

.fc-event.green .fc-event-main {
    color: rgb(146,171,149);
}

.fc-event.green .fc-event-main:hover {
    color: black;
}

.fc-event.yellow {
    border-color: rgb(255, 193, 7);
}

.fc-event.yellow:hover {
    background-color: rgb(255, 193, 7);
}

.fc-event.yellow .fc-event-main {
    color: rgb(255, 193, 7);
}

.fc-event.yellow .fc-event-main:hover {
    color: black;
}

.active .page-link {
    background-color: rgb(146,171,149) !important;
    border-color: rgb(146,171,149) !important;
}

.page-link {
    color: grey;
}

.search {
    cursor: pointer;
    margin-bottom: 6px;
}

.fc-today-button, .fc-agendaWeek-button {
    display: none;
}

.fc-day-today {
    background: #efefef !important;
}

.fc-button {
    background-color: rgb(146,171,149);
    width: 13.4vw;
    color: white;
    background-image: none;
}

.fc-button:hover {
    color: black !important;
}

.fc-button {
    background-color: rgb(146,171,149) !important;
    color: white !important;
    background-image: none !important;
    border: 0!important;
}

.fc-col-header-cell-cushion {
    color: black;
    text-decoration: none;
}

.calendar-container {
    background-color: white !important;
}

.alert {
    opacity: 0.9;
}

.alert .green-btn:hover {
    text-decoration: none !important;
}

.fc-center h2 {
    font-size: 1.6em;
}

#calendar {
    background-color: white;
}

.email-contact h3 {
    font-size: 24px;
}

.profile-pic {
    position: relative;
    width: 90%;
    border: 10px solid;
    border-color: rgb(239,239,239);
    margin-top: 50px;
    margin-left: 21px;
    box-shadow: 0 0 0 5px rgb(146,171,149);
}

.home-profile-pic {
    position: relative;
    height: 90%;
    border: 10px solid;
    border-color: rgb(239,239,239);
    box-shadow: 0 0 0 5px rgb(146,171,149);
}

.preview-img-wrapper {
    height: 200px !important;
}

.about-hello-h2 {
    font-size: 20px;
    letter-spacing: 2px;
}

.about-preview {
    text-align: left;
}

.about-preview-text {
    font-size: 14px;
}

.about-preview-footer {
    background-color: rgb(239,239,239);
}

#about p {
    text-align: left;
}

#about .content-col .first-paragraph {
    margin-left: 10vmin;
}

#about .content-col .second-paragraph {
    margin-right: 10vmin;
}

#about .content-col {
    margin-top: 5vmin;
}

#about .office-pic {
    width: 100%;
    border-radius: 0.25rem !important;
}

#about .row {
    margin-top: 7vmin !important;
}

#about .content-wrapper {
    padding-bottom: 0px !important;
}

.bottomRight {
    width: 100%;
    border-radius: 0.25rem !important;
}

.bottombar-div {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.search-btn {
    color: white;
    background-color: rgb(146,171,149);
}

.edit-btn, .delete-btn {
    filter: invert(74%) sepia(9%) saturate(584%) hue-rotate(76deg) brightness(88%) contrast(87%);
    width: 18px;
    height: 16.8px;
}

.add-icon {
    width: 45px;
    height: 45px;
}

.delete-btn {
    width: 14px;
}

.search-login-btn {
    width: 16px;
    height: 16.8px;
}

.facebook-icon {
    width: 9.9px;
    height: 19.2px;
    filter: invert(36%) sepia(95%) saturate(1228%) hue-rotate(185deg) brightness(99%) contrast(92%);
    margin-bottom: -3px;
    margin-right: 3px;
}

.google-icon {
    width: 15.25px;
    height: 16.8px;
    filter: invert(27%) sepia(98%) saturate(1664%) hue-rotate(348deg) brightness(104%) contrast(78%);
    margin-bottom: -1px;
    margin-right: 3px;
}

.instagram-icon {
    filter: invert(37%) sepia(17%) saturate(2911%) hue-rotate(299deg) brightness(98%) contrast(88%);
    width: 21px;
    height: 24.8px;
    margin-bottom: -4px;
}

.right-arrow-icon {
    width: 10px !important;
    height: 16.8px !important;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(24deg) brightness(106%) contrast(101%);
}

.edit-btn:hover, .delete-btn:hover {
    cursor: pointer;
}

#single-article-container {
    padding-left: 4vw;
    padding-right: 4vw;
}

#single-video-container {
    padding-left: 4vw;
    padding-right: 4vw;
}

#side-videos h1 {
    font-size: 20px;
}

/*Article Preview*/
.article-preview a {
    color: inherit;
    text-decoration: none;
}

.article-preview .card-footer {
    background-color: rgb(248,249,250) !important;
    padding-right: 0px;
}

.article-preview .card:hover {
    opacity: 0.6;
}

.article-preview .card-title {
    font-size: 20px;
    font-weight: 600;
}

.article-preview .card-text {
    font-size: 14px;
    min-height: 150px;
}

.article-preview .card-img-top {
    min-width: 100%;
    object-fit: cover;
    height: 200px;
    max-height: 100%;
    width: auto;
}

p {
    hyphens: manual;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

#CreatedOn {
    border: 1px solid #ced4da;
}

.video-preview {
    background-color: rgb(248,249,250);
    border: 1px solid rgba(0,0,0,.125);
}

.preview-wrapper {
    position: relative;
}

.play-btn {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.video-preview h1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 70px;
    word-wrap: break-word;
}

.video-preview:hover {
    opacity: 0.6;
    cursor: pointer;
}

.video-preview a {
    color: inherit;
    text-decoration: none;
}

.video-preview a:hover {
    text-decoration: none;
    color: inherit;
}

/*FullCalendar*/
.green-btn {
    background-color: rgb(146,171,149);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.green-btn:hover {
    color: black;
}

#bookAppointmentModal label {
    font-size: 18px;
    font-weight: 900;
}

#bookAppointmentModal #patientIssueDescription {
    font-size: 15px;
}

.calendar-container .modal-title {
    font-size: 18px;
    font-weight: 900;
}

#appointmentDetailsModal #btnDelete {
    white-space: nowrap;
}

#contact #submit-btn span {
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
}

/*Calendar set working hours*/
::-webkit-datetime-edit {
    display: none;
}

::-webkit-calendar-picker-indicator {
    padding-right: 10px;
}

.video-title {
    position: absolute;
    top: 16px;
    left: 20px;
    color: white;
    font-size: 18px;
}

#login-icon {
    padding-top: 2px;
    height: 16.8px;
    width: 14px;
}

.dropdown-toggle::after {
    margin-left: 0px !important;
}

.flower-icon {
    margin-bottom: 3px;
}
