@model InSelfLove.Web.ViewModels.Appointment.AppointmentEmail;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    // Compose email body depending on input from controller
    // Body is taken from Resource files
    var bodyText = string.Format(localizer[Model.Status].Value, Model.Start.ToString("dd MMMM HH:mm"));
}

<div>Здравейте, </div>
<div></div>
<div>
    <p>
        @bodyText
    </p>
    @*Provide session location info & description if the appointment has just been booked*@
    @if (Model.Status.Equals("NewAppointment") || Model.Status.Equals("AwaitingApproval"))
    {
        <p>
            <b>@(Model.IsOnSite ? "Сесия на живо" : "Онлайн сесия")</b>
        </p>
        <p>
            Описание: @Model.Description
        </p>
    }
</div>
<div></div>
<div>Поздрави!</div>