@model InSelfLove.Web.ViewModels.Appointment.AppointmentEmail;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    var bodyText = "";

    // TODO: needs enum || class
    if (Model.Status.Equals("NewAppointment"))
    {
        bodyText = string.Format(localizer["NewAppointment"].Value, Model.Start.ToString("dd MMMM HH:mm"));
    }
    else if (Model.Status.Equals("AwaitingApproval"))
    {
        bodyText = string.Format(localizer["AwaitingApproval"].Value, Model.Start.ToString("dd MMMM HH:mm"));
    }
    else if (Model.Status.Equals("Cancellation"))
    {
        bodyText = localizer["Cancellation"].Value;
    }
    else if (Model.Status.Equals("Confirmation"))
    {
        bodyText = string.Format(localizer["Confirmation"].Value, Model.Start.ToString("dd MMMM HH:mm"));
    }
}

<div>Здравейте, </div>
<div></div>
<div>
    <p>
        @bodyText
    </p>
    @if (Model.Status.Equals("NewAppointment") || Model.Status.Equals("AwaitingApproval"))
    {
        <p>
           <b>@(Model.IsOnSite ? "Сесия на живо" : "Онлайн сесия")</b>
        </p>
        <p>
            Описание: @Model.Description
        </p>
    }
</div>
<div></div>
<div>Поздрави!</div>