@model InSelfLove.Web.ViewModels.Video.VideosPaginationViewModel
@{
   if (this.ViewContext.RouteData.Values["controller"].ToString() == "Search")
    {
        // Remove layout when called by search controller (Fetch Request)
        this.Layout = null;
    }
}

<div id="all-videos" class="py-4">
    <div class="container">
        <div class="row">
            @foreach (var video in Model.Videos)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <partial name="_VideoPreviewPartial" model="@video" />
                </div>
            }
        </div>
        <partial name="_PaginationPartial" model="@Model.PaginationInfo" />
    </div>
</div>