@model BDInSelfLove.Web.Infrastructure.ViewComponents.NavbarViewModel

@foreach (var year in Model.Years)
{
    <li class="nav-item">
        <a href="https://google.com" class="nav-link">@year</a>
    </li>
}