@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Enter your email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn green-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
