@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Смяна на парола";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<p class="text-center pt-5 fs-3 fw-bold">
    Моля, проверете имейла си, за да завършите смяната на вашата парола.
</p>

