@model BDInSelfLove.Web.ViewModels.Forum.Comment.ReportCommentViewModel

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <form asp-controller="Comment" asp-action="Report" method="post">
                <input asp-for="@Model.Id" type="hidden">
                <h2>Report Post By:@Model.UserUsername</h2>
                <div class="form-group">
                    <label asp-for="@Model.Reason">Reason</label>
                    <textarea asp-for="@Model.Reason" class="form-control textarea" cols="20" rows="2"></textarea>
                    <span asp-validation-for="@Model.Reason" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-success btn-block">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}