@model BDInSelfLove.Web.ViewModels.Forum.Comment.ReportCommentViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Comment" asp-action="Report" method="post">
            <input asp-for="@Model.Id" type="hidden">
            <h2>Report Comment By: @Model.UserUsername</h2>
            <div class="form-group mt-3">
                <textarea asp-for="@Model.Reason" class="form-control textarea" cols="20" rows="4" placeholder="Reason"></textarea>
                <span asp-validation-for="@Model.Reason" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary btn-block w-50 mx-auto"> Send</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}