@using BDInSelfLove.Common
@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using BDInSelfLove.Web.Areas.Administration
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Appointment";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<div class="container mt-4 py-4">
    <form id="csfrToken" method="post"></form>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <button id="btnWorkingHours" class="btn btn-block btn-outline-warning mb-2">Set Standard Working Hours</button>
    }
    <div id="calendar"></div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <button id="btnDelete" class="btn btn-outline-danger btn-sm mb-3 float-right">
                            <span><i class="fas fa-trash"></i></span> Cancel Appointment
                        </button>
                    }
                    <br />
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="modal-dialog" id="dailyHoursSetter">
            <div class="modal-content">
                <div class="modal-header justify-content-center py-2">
                    <h4 class="modal-title">Set Daily Availability</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-start ml-5">

                            @{
                                for (int i = GlobalAdminValues.WorkDayStart; i <= GlobalAdminValues.WorkDayEnd; i++)
                                {
                                    <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1"  style="border-color:#aa5584;">
                                        @(i.ToString() + ":00")
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row justify-content-center mt-1 mb-0 pb-0">
                            <button type="button" id="submitDailyAvailability" class="btn btn-outline-success ml-3">Save</button>
                            <button type="button" id="closeDailyAvailability" class="btn btn-outline-danger ml-2" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Schedule Appointment</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="hdEventID" value="0" />
                        <div class="form-group">
                            <label>Available time slots</label>
                            <div class="input-group date" id="dtp1">
                                <select class="form-control" id="txtStart">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Please briefly describe your issue.(At least 30 characters)</label>
                            <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                        </div>
                        <button type="button" id="btnSave" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>



<div id="workingHours" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Set Standard Working Hours</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Start Time</label>
                        <div class="input-group date">
                            <input type="time" id="startHour" name="startHour" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Time</label>
                        <div class="input-group date">
                            <input type="time" id="endHour" name="endHour" required>
                        </div>
                    </div>
                    <button type="button" id="workingHoursSubmitBtn" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" integrity="sha256-Kpo67ZL4Mq+OPqdedHe9lvnMI6i6gZOI1+7NqujLdq0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css" integrity="sha256-O3Oq9/mud7866SStmc+zBcjkPs2PY/I/MhETci3wOrg=" crossorigin="anonymous" media="print" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" integrity="sha256-SYIz/7Qe8avYdBE3w2kKVL1PB/mS05GGgKVn5qa86SY=" crossorigin="anonymous"></script>


    <script src="~/Custom/js/fullcalendar.js"></script>
}