@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = @localizer["Contact"].Value;
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h4>@localizer["Address"]</h4>
                        <p>Звъника 1-3, София</p>
                        <hr>
                        <h4>@localizer["Email"]</h4>
                        <p>inselflove@gmail.com</p>
                    </div>
                </div>
            </div>
            <div id="mapid" class="col-md-8"></div>
        </div>
    </div>
</section>


@section Links {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
}

@section Scripts {
    <partial name="_MapScriptsPartial" />
}