<section id="comments">
    <div class="container">
        <hr>

        <!-- Comments Form -->
        <div class="card mt-3">
            <h5 class="card-header p-1 pl-4">Leave a Comment:</h5>
            <div class="card-body pb-1">
                <form action="">
                    <div class="row">
                        <div class="col-md-10 col-lg-11">
                            <div class="form-group">
                                <textarea class="form-control" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-1 p-0" >
                            <button type="submit"  class="btn btn-outline-secondary btn-md">Submit</button>

                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="accordion mb-4" id="accordion">
            <div class="card">
                <div class="card-header p-1 pl-2">
                    <h5 class="mb-0">
                        <div href="#collapse1" data-toggle="collapse">
                            <i class="fas fa-arrow-circle-down"></i> View All Comments
                        </div>
                    </h5>
                </div>

                <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Single Comment -->
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <!-- Comment with nested comments -->
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.

                                <div class="media mt-4">
                                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0">Commenter Name</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                        scelerisque ante sollicitudin.
                                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        Fusce condimentum nunc
                                        ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>

                                <div class="media mt-4">
                                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0">Commenter Name</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                        scelerisque ante sollicitudin.
                                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        Fusce condimentum nunc
                                        ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>