@using Microsoft.AspNetCore.Http.Features
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="row mb-0 mt-5 ms-0 px-0 d-flex align-items-center justify-content-center alert alert-info alert-dismissible" role="alert">
        <div class="col mt-1">
            <span class="text-black">@localizer["We use cookies to improve your experience."]</span>
            <button type="button" class="btn green-btn btn-sm mx-0" data-bs-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">@localizer["Accept"]</span>
            </button>
            <a class="btn btn-outline-secondary btn-sm ms-0 text-black" asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["Learn More"]</a>

        </div>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
