@using BDInSelfLove.Common
@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu">
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        Profile
                    </a>
                </li>

                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Article" asp-action="Create">
                            Create Article
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Video" asp-action="Create">
                            Create Video
                        </a>
                    </li>
                }

                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">
                        Logout
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
    </li>
</ul>
