@model string

@if (!String.IsNullOrEmpty(Model))
{
    <div class="row alert alert-@(Model.StartsWith("Error") ? "danger" : "success") alert-dismissible d-block" role="alert">
        <div class="col">
            <span>
                @Model
            </span>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
