@model ErrorViewModel
@{ this.ViewData["Title"] = "Content not found"; }

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

@{ var data = this.Html.ViewContext;
                var indexModel = @Model; }

<div class="text-center my-2">
    <img src="~/Custom/img/wonder.png" height="300" />
    <h5>Please try one of the links below:</h5>

    <a class="btn btn-outline-secondary" href="/">Home</a>
    <a class="btn btn-outline-secondary" href="/home/appointment">Schedule an Appointment</a>
    <a class="btn btn-outline-secondary" href="/home/contact">Contact</a>
    <a class="btn btn-outline-secondary" href="/article/all">Articles</a>
    <a class="btn btn-outline-secondary" href="/video/all">Videos</a>
</div>