@model BDInSelfLove.Web.ViewComponents.Models.Sidebar.SuggestedViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    bool isSingleArticlePage = Model.Articles.Count != 0;
    int publcationsCount = isSingleArticlePage ? Model.Articles.Count : Model.Videos.Count;
    string elementTitle = isSingleArticlePage ? localizer["MORE ARTICLES"].Value : localizer["MORE VIDEOS"].Value;
}

<div id="bottombar">
    <h2 class="mb-0 ml-3 subtitle">@localizer[elementTitle]</h2>
    <div class="row">
        @for (int i = 0; i < publcationsCount; i++)
        {
            <div class="col-lg-4 p-3">
                @if (@Model.Articles.Count != 0)
                {
                    <partial name="_ArticlePreviewPartial" model="@Model.Articles[i]" />

                }
                else
                {
                    <partial name="_VideoPreviewPartial" model="@Model.Videos[i]" />
                }
            </div>
        }
    </div>
</div>
