/*Showcase fix for iOS - fixed background unsupported */
@supports (-webkit-touch-callout: none) {
    html, body {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 500px) {

    html, body {
        background-attachment: scroll !important;
    }

    .fc-header-toolbar {
        margin-bottom: 5px !important;
    }
}

main {
    background: rgba(45,70,67, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html, body {
    position: relative;
    background: url("https://res.cloudinary.com/dzcajpx0y/image/upload/fl_progressive/v1620506959/aididie6_ke76hz.jpg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}

footer {
    background: rgba(45,70,67, 0.75);
    top: 0;
    left: 0;
}

footer p {
    color: white;
}

/* Fixes bug with slot titles when upgraded to v6.0*/
.fc-sticky {
    position: absolute !important;
}

/*SLIDER*/
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

    .toggle-switch:before, .toggle-switch:after {
        content: "";
    }

    .toggle-switch:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
    }

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #92ab9b;
}

    .toggle-checkbox:checked + .toggle-switch:before {
        left: 30px;
    }

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
/*END OF SLIDER*/

.fc-header-toolbar {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.fc-event-time {
    color: #92ab95;
}

.fc-daygrid-event {
    margin: 16px !important;
}

.fc-daygrid-event:hover {
    background-color: #92ab95 !important;
}

/*green*/
.fc-daygrid-event.green {
    background-color: #92ab95 !important;
}

.fc-daygrid-event.green:hover {
    background-color: white !important;
}

.fc-daygrid-event.green .fc-event-title {
    color: white !important;
}

.fc-daygrid-event.green:hover .fc-event-title {
    color: black !important;
}

.fc-daygrid-event.green:hover .fc-event-title-container {
    background-color: white !important;
}

/*yellow*/
.fc-daygrid-event.yellow {
    background-color: #EEB440 !important;
    border-color: #EEB440 !important;
}

.fc-daygrid-event.yellow:hover {
    background-color: white !important;
}

.fc-daygrid-event.yellow .fc-event-title {
    color: black !important;
}

.fc-daygrid-event.yellow:hover .fc-event-title {
    color: black !important;
}

.fc-daygrid-event.yellow:hover .fc-event-title-container {
    background-color: white !important;
}

/*gray*/
.fc-daygrid-event.gray {
    background: repeating-linear-gradient(-45deg,transparent,transparent 5px,#efefef 0,#efefef 10px);
}

.fc-daygrid-event.gray:hover {
    cursor: default !important;
}

.fc-daygrid-event.gray:hover {
    cursor: default !important;
}

.fc-daygrid-event.gray .fc-event-title {
    color: black !important;
}

.fc-daygrid-event.gray:hover .fc-event-title {
    color: black !important;
    cursor: default;
}

.fc-daygrid-event.gray:hover .fc-event-title-container {
    background-color: none;
    background: repeating-linear-gradient(-45deg,transparent,transparent 5px,#f1f5f9 0,#f1f5f9 10px);
    cursor: default;
}

/*default*/
.fc-event-title-container {
    min-height: 50px;
    position: relative;
    cursor: pointer;
}

.fc-event-title-container:hover {
    background-color: #92ab95;
}

.fc-event-title-container:hover .fc-event-title {
    color: white;
}

.fc-event-title-container.green:hover {
    background-color: white;
}

.fc-event-title-container.green:hover .fc-event-title {
    background-color: white;
    color: #92ab95;
}

.fc-event-title {
    color: black;
    font-weight: 600;
    /*How to center vertically*/
    margin: 0;
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.fc-event-main-frame {
    text-align: center;
}

.fc-col-header-cell-cushion:hover {
    color: black;
    cursor: default;
}

.fc-today-button, .fc-agendaWeek-button {
    display: none;
}

.fc-day-today {
    background: #efefef !important;
}

.fc-button:hover {
    color: black !important;
    background-color: white;
}

.fc-button {
    margin-left: 16px !important;
    margin-right: 16px !important;
    width: 13.4vw;
    background-color: #92ab95 !important;
    color: white !important;
    background-image: none !important;
    border: 2px solid #92ab95 !important;
}

.fc-col-header-cell-cushion {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

.calendar-container {
    background-color: white !important;
    min-height: 400px;
}

.fc-center h2 {
    font-size: 1.6em;
}

#calendar {
    background-color: white;
    min-height: 400px;
}

#bookAppointmentModal label {
    font-size: 16px;
    font-weight: 900;
}

#onSiteBookMsg {
    font-size: 16px;
    font-weight: 900;
}

#bookAppointmentModal #patientIssueDescription {
    font-size: 16px;
}

.calendar-container .modal-title {
    font-size: 18px;
    font-weight: 900;
}

#appointmentDetailsModal #btnDelete {
    white-space: nowrap;
}

/*Payment form*/
#payment-form {
    min-height: 250px;
}

/*Calendar set working hours*/
::-webkit-datetime-edit {
    display: none;
}

::-webkit-calendar-picker-indicator {
    padding-right: 10px;
}