/* Variables */
* {
    box-sizing: border-box;
}

#payment-form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

#payment-form #payment-element {
    margin-bottom: 24px;
}

.bouncer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100px;
    height: 100px;
}

.bouncer div {
    width: 20px;
    height: 20px;
    background: #92ab95;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
}
.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;

}
.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;

}

@keyframes bouncer {
    from {transform: translateY(0)}
    to {transform: translateY(-100px)}
}

@media only screen and (max-width: 600px) {
    #payment-form {
        width: 80vw;
        min-width: initial;
    }
}

/*SUCCESS*/
#success-modal {
    text-align: center;
    padding: 40px 0;
}

    #success-modal h1 {
        color: #92ab95;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    #success-modal p {
        color: black;
        font-size: 20px;
        margin: 0;
    }

    #success-modal i {
        color: white;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    #success-modal .card {
        background: white;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    #success-modal .checkmark-div {
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #92ab95;
        margin: 0 auto;
    }
/*SUCCESS*/


/*FAIL*/
#fail-modal {
    text-align: center;
    padding: 40px 0;
}

    #fail-modal h1 {
        color: #F2684B;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    #fail-modal p {
        color: black;
        font-size: 20px;
        margin: 0;
    }

    #fail-modal i {
        color: white;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    #fail-modal .card {
        background: white;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    #fail-modal .checkmark-div {
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #F2684B;
        margin: 0 auto;
    }
/*FAIL*/
