@*АКО ИСКАМЕ ДА ВЗИМАМЕ ЕНУМЕРАЦИИ ОТ БАЗАТА ЗА СЕЛЕКТИРАНЕ ОТ ДРОПДАУН НАПРИМЕР

{
     ВЗИМАМЕ СИ ДАННИТЕ И ГИ ТРАНСФОРМИРАМЕ ПО ТОЗИ НАЧИН 
    var options = new List<SelectListItem>
    {
        new SelectListItem {Value="1", Text="Option 1"},
        etc...
    }
     И ПОД ТАЗИ ФОРМА ГИ ПОДАВАМЕ НА VIEW 
  }


    <div class="form-group">
        <label asp-for="Type Property in ViewModel"></label>
        <select asp-for="Type Property in ViewModel" class="form-control" asp-items="Model.Type">
        </select>
    </div>

    <form action="/" method="post" enctype="multipart/form-data" *ЗА ФАЙЛОВЕ multiple ЗА ПОВЕЧЕ ОТ 1 ФАЙЛ*>
        <input asp-for="FileFromForm" />
    </form>*@
