@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Смяна на парола";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />
<p class="mt-5 text-center fw-bold fs-2">
    Паролата ви е сменена. Моля, <a style="color:#92ab95;" asp-page="./Login">кликнете тук, за да влезете</a>
</p>
