@{
    ViewData["Title"] = "All Articles";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<!-- BLOG SECTION -->
<section id="allArticles" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <a asp-area="" asp-controller="Articles" asp-action="Single">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post One</div>
                            <small class="text-muted">Written by Geoff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post Two</div>
                            <small class="text-muted">Written by Caren on 05/22</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post Two</div>
                            <small class="text-muted">Written by Caren on 05/22</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post Three</div>
                            <small class="text-muted">Written by Harry on 05/25</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post Three</div>
                            <small class="text-muted">Written by Harry on 05/25</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post Three</div>
                            <small class="text-muted">Written by Harry on 05/25</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/singleArticle.html">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post One</div>
                            <small class="text-muted">Written by Geoff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/singleArticle.html">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post One</div>
                            <small class="text-muted">Written by Geoff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="/singleArticle.html">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                        <div class="card-body bg-light">
                            <div class="card-title">Blog Post One</div>
                            <small class="text-muted">Written by Geoff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Necessitatibus aliquam tempora, molestiae ab dolorem consequatur voluptatem,
                                porro
                                amet magnam debitis consectetur optio alias placeat neque iure. Iure reiciendis
                                cum
                                natus.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>