@model IEnumerable< BDInSelfLove.Web.ViewModels.Articles.ArticleViewModel> 
@{
    ViewData["Title"] = "All Articles";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<section id="allArticles" class="py-4">
    <div class="container">
        <div class="row">
            <partial name="_ArticlesPartial" model="@Model" />
        </div>
    </div>
</section>