@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["About me"].Value;
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />
    <section id="about" class="pt-3">
        <div class="container">
            <div class="row wrapper-row">
                <div class="col-lg-5 profile-pic-col justify-content-around">
                    <img class="img-fluid rounded-circle profile-pic" src="https://res.cloudinary.com/dzcajpx0y/image/upload/w_600,c_scale/v1615058365/popetoCircle_gk8b5i.jpg"
                         alt="Owner image" />
                </div>
                <div class="col-lg-7 content-col first-paragraph-col pt-5">
                    <p class="first-paragraph">

                    Мъд­ри­те хора са ка­за­ли, че най-важ­на­та връз­ка е тази, ко­я­то има­ме със себе си. По вре­ме на дъл­го­то ми обу­че­ние за пси­хо­лог и пси­хо­те­ра­певт, тази ми­съл пос­то­ян­но из­ска­ча­ше в мо­и­те ана­ли­зи и ра­бо­та. Осъз­на­вах, че колкото и да изу­ча­вам пси­хич­ни­те раз­стройс­т­ва, тех­ни­те сим­п­то­ми и осо­бе­нос­ти, винаги накрая се сти­га­ше до връз­ката, ко­я­то чо­век има със себе си. И в слу­чая, когато в тази връз­ка ня­ма­ше чес­т­ност, ува­же­ние, раз­би­ра­не, съ­чув­с­т­вие, тър­пе­ние и ло­ял­ност, винаги се сти­га­ше до ня­как­ва па­то­ло­гия. Когато чо­век оп­ра­ве­ше от­но­ше­ни­е­то към себе си, той оз­д­ра­вя­ва­ше и си връ­ща­ше ес­тес­т­ве­ност­та и ра­дост­та. Пси­хо­те­ра­пи­я­та, през мо­и­те очи, е точ­но този на­чин да се вър­нем об­рат­но към себе си, да се при­е­мем и обик­нем, за да мо­жем да се нас­лаж­да­ва­ме на жи­во­та и от­но­ше­ни­я­та ни с дру­ги­те.

                </p>
                </div>
            </div>
            <div class="row wrapper-row">
                <div class="col-lg-7 content-col mt-0">
                    <p class="second-paragraph">
                        <b>Образование:</b><br />
                        • Сертифициран психотерапевт към Института за Холистична Психотерапия "Инсайт", България<br />
                        • Бакалавърска степен по психология от Университета в Месина, Италия<br />
                        <br />

                        <b>Мога да помогна при следните състояния:</b><br />
                        • Депресия<br />
                        • Тревожност<br />
                        • Панически атаки<br />
                        • Хранителни разстройства<br />
                        • Емоционална зависимост<br />
                        • Проблеми със самооценка и самочувствие<br />
                        • Проблеми в междуличностните отношения<br />
                        • Екзистенциални кризи и дилеми<br />
                        • Усещане за дезориентация и обреченост<br />
                        <br />

                    <b>Провеждам сесии онлайн и на живо</b><br />
                    • Продължителност на 1 сесия: 50 мин<br />
                    • Цена: 60 лв<br />
                    </p>
                </div>
                <div class="col-lg-5 office-pic-col justify-content-around">
                    <img src="https://res.cloudinary.com/dzcajpx0y/image/upload/v1643790444/bulgaria-practice_gbs06k.jpg"
                         class="office-pic" alt="Office image" />
                </div>
            </div>
        </div>
    </section>
