@{
    ViewData["Title"] = "All Videos";
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<section id="videoGallery" class="py-4">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xxR7rcR2dXY"></iframe>
                </div>
                <partial name="_CommentsPartial" />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WTH1Q0dqjnE"></iframe>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TmRhhn-YFBc"></iframe>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WTH1Q0dqjnE"></iframe>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xxR7rcR2dXY"></iframe>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TmRhhn-YFBc"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>