@model BDInSelfLove.Web.ViewModels.Courses.CourseVideoViewModal

@{ 
    var src = $"https://iframe.mediadelivery.net/embed/35207/{Model.Id}?autoplay=true";
}

<div class="container">
    <div style="position: relative; padding-top: 177.63157894736844%;">
        <iframe src="@src"
                loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
                allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true">
        </iframe>
    </div>
</div> 